.DS_Store
/.build
/.codegraph
/*.xcodeproj
xcuserdata/
xcshareddata/
DerivedData/
.swiftpm/xcode/
/Package.resolved
Dopamine/Dopamine/bootstrap/tmp/
Application/Payload
.idea
Tools/fastPathSign/.build_*
Exploits/kfd/kfd.framework/kfd
TouchPoint/.theos/
TouchPoint/packages/
JailbreakDetector/.theos/
JailbreakDetector/packages/
JailbreakDetector/output/
.sign
